body {
  background: #1a1a2e;
  font-family: "Roboto", sans-serif;
  color: white;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}

a {
  color: #c792ea;
}

.weather-app {
  background: rgba(30, 30, 47, 0.7);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 30px;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 10px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-city {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}
.current-details {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.current-details strong {
  color: #ff91b1;
}

.current-temperature {
  display: flex;
  align-items: center;
}

.current-temperature-icon {
  font-size: 60px;
  margin-right: 15px;
  background: #ffc83e;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 15px rgba(255, 200, 62, 0.5);
}

.current-temperature-value {
  font-size: 96px;
  font-weight: 300;
  line-height: 1;
}

.current-temperature-unit {
  font-size: 32px;
  position: relative;
  top: -48px;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.6);
}
